<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1010552092173-7snihmc30v1vn95ljb74n0ve88spg8gv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010552092173-7snihmc30v1vn95ljb74n0ve88spg8gv</string>
	<key>API_KEY</key>
	<string>AIzaSyBJZIDtSh47Iq9f9Oif54oZKyHvkWlY7TI</string>
	<key>GCM_SENDER_ID</key>
	<string>1010552092173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatFinaly</string>
	<key>PROJECT_ID</key>
	<string>final-chat-fe453</string>
	<key>STORAGE_BUCKET</key>
	<string>final-chat-fe453.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010552092173:ios:350b504ad71ed9503a8744</string>
</dict>
</plist>